<div class="p-6 max-w-lg mx-auto bg-white shadow-lg rounded-lg mt-6">
    <h2 class="text-2xl font-semibold text-gray-700 mb-4">Nova Categoria</h2>
  <hr class="p-2"/>
    <form id="categoriaForm" [formGroup]="camposForm" (ngSubmit)="salvar()">
    
      <app-input-primary 
        [label]="'Nome'" 
        [type]="'text'" 
        [placeholder]="'Ex: Restaurantes, Praias, Shopping'"
        id="nome"
        name="nome"
        formControlName="nome"
        required
        ></app-input-primary>
        @if(isCampoInvalido('nome')){
            <span class="text-redColor text-sm">
              Campo Obrigatório
            </span>
        }
        
      <div class="my-4">
        <label class="block text-text font-medium mb-2">Descrição</label>
        <textarea
          rows="3"
          id="descricao"
          formControlName="descricao"
          name="descricao"
          placeholder=""
          class="w-full p-3 border border-gray-300 rounded shadow-sm focus:outline-none focus:ring-blue-400"
          required
        ></textarea>
        @if(isCampoInvalido('descricao')){
            <span class="text-redColor text-sm">
              Campo Obrigatório
            </span>
        }
      </div>
      <app-button-primary type="submit">Cadastrar Categoria</app-button-primary>
    </form>
  </div>
  